*{

   margin:0px;
   padding:0px;
   box-sizing: border-box;

}

body{
  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.4;


}

a{
    text-decoration: none;
}

p{
    margin:0.75rem 0rem;
    /* p teh margin deoaar karon holo ami *sign diye sob reset kore felechi margin-padding */
}

#navbar{

     background-color:#333333;
     color:white;
     display:flex;

     /* karon holo navbar amar parent h1 and ul er eijonne parent ei display flex dite hobe */

     justify-content: space-between;
     padding:1rem;
     position:sticky;
     top:0;
     z-index: 1;

     /* z-index:1 deoaar means holo navbar ta jate always amader chok e lage */

}

.activate{
    background-color:#844EB0;
    border-radius: 5px;
}



 .text-primary{
  color:#844EB0;


}

#navbar ul{

    display:flex;
    align-items: center;
    list-style-type: none;
}

#navbar ul li a{

    color:#fff;
    padding:0.75rem;
    margin: 0 0.25rem;
}


#navbar ul li a:hover{

      background-color:#844EB0;
      color:white;
      border-radius:5px;

}



/* showcase */

#showcase{
    background:#333 url('../img/showcase.jpg') no-repeat center center/cover;
    height:100vh;

    /* height:100vh deoaar means holo karon ekhane shudu block element header er moddei pic ti dekha jacce jate pura body dekha jay sei jonne height:100vh deoaa hoyeche! */
    color:#fff;
}

#showcase .showcase-content{

    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    height:100%;

    /* ekahen height:100% er means hocceh showcase-content er h1 and p er likha gula jate majkhane thake! justify-content and align-items:center deoaar foleo ta hobe nah karon er height bola nei height:100% er means hocceh amar showcase er 100% jaygah nibe showcase-content ta */
    padding:0 8rem;

    /* overlay */
    position:absolute;
    top:65px;
    left:0px;
    right:0px;
    bottom:0px;
    
  

    background-color:rgba(1,1,1,0.5);


  

}


.l-heading{
    font-size: 4rem;
    margin-bottom:0.75rem;
    line-height:1.1;
}

.lead{
    font-size:1.3rem;
    margin-bottom:2rem;
}

.btn{
    background-color:#844EB0;
    color:white;
    padding:0.5rem 2rem;
    border-radius: 5px;
    border:none;
    display:inline-block;
    cursor: pointer;
    font-size:1rem;
    text-align: center;
    
   
}

.btn:hover{
    background-color:#D131A0;
}


/* what we do section */

.container {
 
    max-width: 1100px;
    padding:0 2rem;
    margin:auto;
 
    overflow:auto;
    

}

.text-center{
   text-align:center;
}

.m-heading{

    font-size: 2rem;
    margin-bottom:0.75rem;
    line-height:1.1;


}


.py-1{
    padding:1.5rem 0;
}

/* nicher padding-2 and padding-3 jokhon ischa hobe tokhon use korbo tai likhe rekechi */

.py-2{
    padding:2rem 0;
}

.py-3{
    padding:3rem 0;

}

#what .items{

    display:flex;
    padding:1rem;
}

#what .items .item{


    padding:1rem;
    text-align:center;
    flex:1;
}

#what .items .item i{

    background-color: #D131A0;
    padding:1rem;
    border-radius: 50%;
    margin-bottom:1rem;
}


/* who section */

#who{
    display:flex;
}

#who .who-img,#who .who-text{
  

   /* er means holo #who er moddeh jekhono jei koyti div thakbe tara sobai soman kore vag hobe */
   flex:1;
}

.who-img{


    background: url("../img/people.jpg") no-repeat center center/cover;
   
}

.bg-dark{

    background-color: #333;
    color:#f4f4f4;
}

.bg-light{

    background-color: white;
    color:#333;
}

.p-2{
    padding:2rem;
}

.list{
    margin:0.5rem 0;
}

.list li{
    list-style-type: none;
    border-bottom:1px dotted #444 ;
    padding:0.5rem 0;
}

/* client section */

 .items
{
    display: flex;
}

.items img{

    display:block;
    margin:auto;
    width:60%;
}

#clients .m-heading{
    text-align:center;
}

/* contact section */

.bg-primary{
   background-color:#587A31;
   color:white;
}

#contact{
    display:flex;
}

#contact .contact-form,#contact .map{
    flex:1;

    /* er means holo #contact er moddeh jekhono jei koyti div thakbe tara sobai soman kore vag hobe */
}

#contact .contact-form{
    margin:0.75rem;
}


#contact .contact-form .form-group{


    padding:0.5rem;
}



#contact label{


   display:block;
}

#contact input,#contact textarea{
    width:100%;
}


